{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">{{ app.user.username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <a class="" href="/logout">Logout</a>
            </div>
        </nav>
    </div>
    <div class="container pt-3 text-center">
        <div class="row">
            <div class="col-12">
                <h3>ToDoList</h3>
            </div>

            <div class="col-6 row text-left" id="TODOLIST">
                {% for todo in todoList %}
                    <div class="col-6">
                        {% if todo.status == 0 %}
                            <h3 class="text-danger">
                                {{todo.name}}
                            </h3>
                        {% else %}
                            <h3 class="text-success">{{todo.name}}</h3>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        {% if todo.status == 0 %}
                            <button class="btn btn-primary" value={{todo.id}}> Completar </button>
                        {% endif %}
                    </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-12 mb-4">
                                <input class="input_user_id" type="number" id="TODO{{todo.id}}" value={{todo.user.id}}>
                                <br>
                                <small>Cambiar propietario de la tarea</small>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>

            <div class="col-6 row ">

                <div class="col-12">
                    <h3>Añadir Tareas</h3>
                    <form id="form" method="POST" class="text-left">
                        <div class="form-group">
                            <label for="inputname">Nombre</label>
                            <input type="text" class="form-control" id="inputname" name="name" required>
                        </div>
                        <button type="" class="btn btn-primary">Añadir</button>
                    </form>
                </div>
                
                <div class="col-12">
                    {% if is_granted('ROLE_ADMIN') %}
                        <h3>Añadir Usuarios</h3>
                        <div class="form-group">
                            <label for="inputname">Nombre</label>
                            <input type="text" class="form-control" id="inputUsername" value="">
                        </div>
                        <div class="form-group">
                            <label for="inputname">Contraseña</label>
                            <input type="text" class="form-control" id="inputPassword" value="">
                            <small>Si se deja vacio la contraseña será: 1234</small>
                        </div>
                         <button id="add_user" type="" class="btn btn-primary">Añadir Usuario</button>
                    {% endif %}
                </div>
                
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    //6. Uso AJAX en lugar de un formulario para crear nuevas TODO
    $('#form').submit(function( event ) {
        event.preventDefault();

        const name = $('#inputname').val()
        $.post( "/", { name: name})
        .done(function( data ) {
            window.alert( "Se ha creado un nuevo TODO" );
            location.reload();
        })
        .fail(function() {
            alert( "No se ha podido crear el TODO" );
        });
    });

    $('#TODOLIST button').click(function(  ) {

        const id = $(this).val()
        $.get( "/complete/"+id)
        .done(function( data ) {
            location.reload();
        })
        .fail(function() {
            window.alert( "No se ha podido crear el TODO" );
        });
    });


    {% if is_granted('ROLE_ADMIN') %}
        $('.input_user_id').change(function(  ) {
            const TODO_id = $(this).attr('id').split("TODO")[1];
            const user_id = $(this).val();
            
            $.post( "/TODO/"+TODO_id+"/"+user_id)
            .done(function( data ) {
                window.alert( "Se ha cambiado el propietario de la tarea con exito" );
            })
            .fail(function() {
                window.alert( "No se ha podido cambiar de propietario" );
            });
        });

        $('#add_user').click(function(  ) {
            const name = $('#inputUsername').val();
            const pass = $('#inputPassword').val();
            
            $.post( "/users/add", { name: name, password: pass})
            .done(function( data ) {
                window.alert( "Se ha creado el usuario con exito" );
            })
            .fail(function() {
                window.alert( "No se ha podido crear el usuario" );
            });
        });          
    {% endif %}
</script>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
